<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALGOLIA_APP_ID</key>
	<string>TRVTKK4YUR</string>
	<key>ALGOLIA_API_KEY_USERS</key>
	<string>5ba2aee5ee2c0879fcd16f112a66e821</string>
	<key>ALGOLIA_API_KEY_GROUPS</key>
	<string>6c88391e8a0c760cd91bfa9d49e88f4a</string>
</dict>
</plist>
