<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135894914510-54r1kek2gq9n1tadh60uutmjbopt1q8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135894914510-54r1kek2gq9n1tadh60uutmjbopt1q8i</string>
	<key>API_KEY</key>
	<string>AIzaSyD5cIZNGUpX5EzcFwJD8aTZ0s67b71E5ww</string>
	<key>GCM_SENDER_ID</key>
	<string>135894914510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pripandreika.com.ChatUpp</string>
	<key>PROJECT_ID</key>
	<string>chatupp-e5b6c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatupp-e5b6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135894914510:ios:779f782bd82e2c2ec8479f</string>
</dict>
</plist>